/* Color */

$primary-color: #213b87;
$primary-hover-color: #15265a;
$light-red-color: #e57f7b;
$light-blue-color: #e7ecfa;
$lightest-blue-color: #f9fafd;
$lightest-blue-hover-color: #e7ecfa;
$lightest-gray-blue-color: #eceef6;
$lighter-gray-blue-color: #dbdfeb;
$medium-light-gray-blue-color: #c9d0e2;
$danger-color: #c9d0e2;
$light-pink-color: #ff8587;
$yellow-color: #ffc65b;
$full-shade-color: #222222;
$dark-shade-color: #454545;
$darkest-shade-color: #545454;
$medium-shade-color: #656565;
$medium-dark-shade-color: #8b8b8b;
$medium-light-shade-color: #a5a5a5;
$light-shade-color: #c9c9c9;
$lighter-shade-color: #cdcdcd;
$lightest-shade-color: #e2e2e2;
$dark-gray-blue-color: #a6b0cf;
$background-color: #ffffff;

/* Common Component Size */

$common-sidebar-width: 48px;
$common-header-height: 56px;
$common-scrollbar-width: 16px;

/* Clinical Data Search Component Size */
$cds-toolbar-height: 54px;
$meta-list-width: 290px;
$case-design-toolbar-height: 38px;
$case-design-container-width: 450px;
$case-design-container-height: 108px;
$case-design-level-panel-width: 200px;
$output-items-tab-height: 45px;
$output-items-add-tab-width: 50px;
$output-items-sidebar-width: 380px;
$output-items-sidebar-condition-height: 140px;
$output-items-container-alphabet-width: 14px;
$output-items-domain-tag-width: 47px;
$output-items-icon-group-width: 70px;
$output-items-item-selector-sidebar-width: 300px;
